html {
  box-sizing: border-box;
}

li, ul {
  list-style-type:none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h3 {
  font-size: 20px;
}

textarea {
  width: 100%;
}

.thumbnail {
  text-align: center;
}

/* Header and NavBar */
  header {
    /*position: fixed;*/
    /*width: 100%;*/
    /*border: .01em solid red;*/
  }

  nav {
    t-align: center;
  }

  button {
    font-family: serif;
  }

/*  INFOMODAL OVERLAY */
  .overlay {
    width: 100%;
    height: 250%;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    display: none;
    background: url(https://s3.amazonaws.com/nfl-arrests/galaxy.jpg);
    /*background: url(https://s3.amazonaws.com/nfl-arrests/la-med.jpg);*/
    /*background: url(https://s3.amazonaws.com/nfl-arrests/central.jpeg);*/
    /*background: url(https://s3.amazonaws.com/nfl-arrests/madagascar-landscape-1600.jpg);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
	  background-position: center;
  }

  .content {
  	color: #fff;
  	background: rgba(238, 131, 23, 0.48);
  	position: relative;
  	height: auto;
  	width: 600px;
  	border-radius: 3px;
  	top: 15%;
  	margin: auto auto;
  	border: 1px solid rgba(0,0,0,0.1);
  }

  .content h3 {
  	margin: 0;
  	padding: 0.4em;
  	text-align: center;
  	font-size: 2.4em;
  	font-weight: 300;
  	opacity: 0.8;
  	background: rgba(0,0,0,0.1);
  	border-radius: 3px 3px 0 0;
  }

  .content > div {
  	padding: 15px 40px 30px;
  	margin: 0;
  	font-weight: 300;
  	font-size: 1.15em;
  }

  .content > div p {
  	margin: 0;
  	padding: 10px 0;
  	line-height: 2em;
  	text-align: justify;
  }

  .content > div ul {
  	margin-bottom: -30px;
  	padding: 0 0 30px 20px;
  	text-align: left;
  }

  .content > div ul li {
  	padding: 5px 0;
  	display: block;
  	list-style-type: disc;
  	line-height: 1.5em;
  }

  .content > div ul li strong{
  	text-decoration: underline;
  }

  .content > div a {
  	font-size: 0.8em;
  	background:#f27b0e;
  	color: white;
  	padding: 0.5em 2em;
  	margin-bottom: 50px;
  	border-radius: 3px;
    opacity: .9;
  }

  .close:focus, .close:hover {
    color: #000;
    background:#f27b0e;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .9;
  }

/* infomodal button navbar area */
  a.what {
    color:red;
    font-size: large;
  }


/* Video */
  .videos {
    height: 800px;
    display: block;
    width: 25%;
    margin:3em auto;
  }

  .iframe-video {
    width: 420px;
    height: 315px;
  }

/* Videos feed container */
  .video-feed-main-container {
    border: .01em solid grey;
    width: 98%;
    margin: 0 auto;
    padding: 5em 0em;
  }

   .video-feed-row .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .video-image-thumbnail {
    /*width: 286px;*/
    /*height: 329px;*/
    font-family: serif;
  }

  .video-image-thumbnail:hover {
    box-shadow: 0 1px 10px 0 rgba(156, 6, 205, 0.35);
    z-index: 1;
  }

/* Video Modal */
  .video-modal .modal-content {
    text-align: center;
  }

  .iframe-video-feed {
    width: 100%;
    height: 600px;
  }

/* Video Form */


/* Posts feed container */
  #videos_title {
    text-align: center;
    margin: 3em;
  }

  .post_feed_item_grid {
    display: inline-block;
    width: 25%;
    t-align: center;
    font-family: serif
  }

  .post_feed_item_grid .thumbnail:hover {
    box-shadow: 0 1px 10px 0 rgba(9, 16, 218, 0.35);
    z-index: 1;
  }

  .feed_wrapper {
    border: .01em solid grey;
    width: 98%;
    margin: 2em auto;
    padding: 5em 2em;
  }

  .user_posts_feed h4 {
    text-align: center;
    margin: 3em;
    padding-top: 2em;
  }

  .user_posts_feed h3 {
    margin: 2em auto;
  }

  h3 {
    font-size: 16px;
  }

  .col-post-item p button {
  }

/* Post */
  .jumbotron-post {
    width: 80%;
    margin: 2em auto;
    padding: 5em;
    font-family: serif;
  }

  .post_paragraph {
    padding: 2em;
    margin: 3em;
    background-color: white;
    border-radius: 3px;
  }

  p.post_paragraph {
    font-size: 20px;
  }

  .post-div {
    border: .01em solid orange;
    width: 50%;
    margin: 3em auto;
    /*height: 500px;*/
    padding: 4em;
  }

  .jumbotron-buttons {
    /*width: 12%;
    margin: 22em auto;*/
    /*margin-top: 23em;*/
    /* if this div is 100% width and t-align center the buttons inside it will
    be centered */
    text-align: center;
    margin: 20px 0px 75px 0px;
    padding-bottom: 60px;
  }

  .jumbotron-buttons button {
    margin-right: 7px;
  }

  /* post comments feed */
    .jumbotro p h4 {
      font-size:18px;

    }

    .jumbotron p {
      font-size: 16px;
      margin: 1em 0em;
    }

    /* create comment form */
      .new-post-form li {
        margin: 1em 0em;
      }



  /* Post Comment form Buttons */
  .comment-buttons-container button {

  }

/* Post Form */
  .post-form-div {
    border: .01em solid black;
    width: 80%;
    margin: 5em auto;

  }

  .post-form {
    border: .01em solid blue;
    width: 90%;
    margin: 3em auto;
  }

  .post-form-div form {
    width: 90%;
  }

  .post-form tarea {
    display: block;
    margin: 2em auto;
    padding: 2em;
  }

  .post-form input {
    display: block;
    margin: 0em auto 2em auto;
  }

  .new-post-form {
    padding-bottom: 2em;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }

/* Login form React-Bootstrap modal */
/*  .modal-container {
    position: relative;
  }

  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }
*/



/* ========== Media Queries ========= */
/* post page media queries */
@media only screen and (min-width: 845px) and (max-width: 1000px) {
  .post_feed_item_grid {
    width: 33%;
    transition: width 2s;
  }
}
@media only screen and (max-width: 991) {
  h3 {
    font-size: 16px;
  }


}

@media only screen and (max-width: 800px) {
  .post_feed_item_grid {
    width: 33%;
    transition: width 2s;
  }
}


@media only screen and (max-width: 600px) {
  .post_feed_item_grid {
    width: 50%;
    transition: width 2s;
  }

  .jumbotron-post {
    width: 100%;
    transition: width 2s;
  }
}

/* video page media queries */

@media only screen and( min-width: 1045px) {
  .video-single-feed {
    width: 25%;
    transition: width 2s;
  }
}

@media only screen and( max-width: 1044px) {
  .video-single-feed {
    width: 33%;
    transition: width 2s;
  }

  .video-modal .modal-content {
    height: 736px;
    width: 650px;
    margin: 0 auto;
    transition: width 2s, height 2s;
  }

  .iframe-video-feed {
    width: 550px;
    height: 550px;
  }
}

@media only screen and( max-width: 777px) {
  .video-single-feed {
    width: 48%;
    transition: width 2s;
  }

  .video_title h3 {
    font-size: 16px;
  }
}
