html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Header and NavBar */
  header {
    /*position: fixed;*/
    /*width: 100%;*/
    /*border: .01em solid red;*/
  }

  nav {
    text-align: center;
  }*/

/* Videos feed container */


/* Video */
  .videos {
    height: 800px;
    display: block;
    width: 25%;
    margin:3em auto;
  }

  .iframe-video {
    width: 420px;
    height: 315px;
  }

/* Video Form */



/* Posts feed container */
  .post_feed_item_grid {
    display: inline-block;
    width: 25%;
  }

  .feed_wrapper {
    border: .01em solid grey;
    width: 80%;
    margin: 2em auto;
    padding: 4em 4em ;
  }

  .user_posts_feed h3 {
    width: 200px;
    margin: 2em auto;
  }

  .col-post-item {
    width: 109.3333%;
  }

  .col-post-item h3 {
    font-size: 1.3em;
  }

  .col-post-item p button {
  }
/* Post */
  .jumbotron-post {
    width: 80%;
    margin: 2em auto;
    padding: 5em;
    height: 700px;
  }

  .post-div {
    border: .01em solid orange;
    width: 50%;
    margin: 3em auto;
    /*height: 500px;*/
    padding: 4em;
  }

  .jumbotron-buttons {
    width: 12%;
    margin: 22em auto;
  }

  .jumbotron-buttons button {
    margin-right: 7px;
  }

/* Post Form */
  .post-form-div {
    border: .01em solid black;
    width: 80%;
    margin: 5em auto;

  }

  .post-form {
    border: .01em solid blue;
    width: 90%;
    margin: 3em auto;
  }

  .post-form-div form {
    width: 90%;
  }

  .post-form textarea {
    display: block;
    margin: 2em auto;
    padding: 2em;
  }

  .post-form input {
    display: block;
    margin: 0em auto 2em auto;
  }

/* Login form React-Bootstrap modal */
/*  .modal-container {
    position: relative;
  }

  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }
*/
