html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* to zero out css from bootstrap modal grid framework built in */
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* Header and NavBar */
  header {
    /*position: fixed;*/
    /*width: 100%;*/
    /*border: .01em solid red;*/
  }

  nav {
    text-align: center;
  }

  button {
    font-family: serif;
  }

/* Video */
  .videos {
    height: 800px;
    display: block;
    width: 25%;
    margin:3em auto;
  }

  .iframe-video {
    width: 420px;
    height: 315px;
  }

/* Videos feed container */
  .video-feed-main-container {
    border: .01em solid grey;
    width: 80%;
    margin: 0 auto;
    padding: 3em 0em;
  }

  .grid-container {
  }

   .video-feed-row .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .video-image-thumbnail {
    width: 286px;
    height: 329px;
    font-family: serif;
  }

  .video-single-feed {
    width:25%;
  }

  .video-image-thumbnail:hover {
    box-shadow: 0 1px 10px 0 rgba(156, 6, 205, 0.35);
    z-index: 1;
  }

/* Video Modal */
  .video-modal .modal-content {
    text-align: center;
  }

  .iframe-video-feed {
    width: 850px;
    height: 750px;
  }

/* Video Form */


/* Posts feed container */
  .post_feed_item_grid {
    display: inline-block;
    width: 25%;
    text-align: center;
    font-family: serif
  }

  .post_feed_item_grid .thumbnail:hover {
    box-shadow: 0 1px 10px 0 rgba(9, 16, 218, 0.35);
    z-index: 1;
  }

  .feed_wrapper {
    border: .01em solid grey;
    width: 80%;
    margin: 2em auto;
    padding: 4em 4em ;
  }

  .user_posts_feed h3 {
    width: 200px;
    margin: 2em auto;
  }

  .col-post-item {
    width: 108.3333%;
  }

  .col-post-item h3 {
    font-size: 1.3em;
  }

  .col-post-item p button {
  }
/* Post */
  .jumbotron-post {
    width: 80%;
    margin: 2em auto;
    padding: 5em;
    height: 700px;
    font-family: serif;
  }

  .post-paragraph {
    padding: 2em;
    margin: 3em;
    background-color: white;
    border-radius: 3px;
  }

  p.post-paragraph {
    font-size: 18px;
  }

  .post-div {
    border: .01em solid orange;
    width: 50%;
    margin: 3em auto;
    /*height: 500px;*/
    padding: 4em;
  }

  .jumbotron-buttons {
    /*width: 12%;
    margin: 22em auto;*/
    /*margin-top: 23em;*/
    /* if this div is 100% width and text-align center the buttons inside it will
    be centered */
    text-align: center;
    margin: 20px 0px 75px 0px;
    padding-bottom: 60px;
  }

  .jumbotron-buttons button {
    margin-right: 7px;
  }

  /* Post Comment Buttons */
  button.new-post-form {
  }

/* Post Form */
  .post-form-div {
    border: .01em solid black;
    width: 80%;
    margin: 5em auto;

  }

  .post-form {
    border: .01em solid blue;
    width: 90%;
    margin: 3em auto;
  }

  .post-form-div form {
    width: 90%;
  }

  .post-form textarea {
    display: block;
    margin: 2em auto;
    padding: 2em;
  }

  .post-form input {
    display: block;
    margin: 0em auto 2em auto;
  }

  .new-post-form {
    padding: 2em 0em;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }

/* Login form React-Bootstrap modal */
/*  .modal-container {
    position: relative;
  }

  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }
*/
